{{#entry}}
{{title}}
{{border}}

{{body}}

.. author:: {{author}}
.. categories:: {{#categories}} {{category}}, {{/categories}}
.. tags::
.. comments::
{{/entry}}

{{#comments}}
----

Comment:

	{{comment}}

	written by {{author}}
	{{month}}/{{date}}/{{year}} {{hour}}:{{min}}:{{sec}}
	{{url}}

{{/comments}}